.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.full {
  transition: opacity 8000ms ease 0ms;
}

.thumb {
  filter: blur(900px);
  transform: scale(1.5);
  transition: visibility 0ms ease 8000ms;
  visibility: visible;
}
