App {
    /* text-align: center; */
    height: 5000px;
}

.scrollTop {
    position: fixed;
    width: 100%;
    bottom: 20px;
    left: 45%;
    height: 20px;
    z-index: 1000;
    cursor: pointer;
    animation: fadeIn 0.3s;
    transition: opacity 0.4s;
    opacity: 0.5;
    color: #d1a907;
}

.scrollTop:hover {
    opacity: 1;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.5;
    }
}